
.bar.scrolled {
    bottom: 12px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 99999;
    position: fixed;
    background: rgba(29, 29, 29, 0.801);
    height: 46px;
    width: 150px;
    border-radius: 5px;
}
.bar.scrolled a:hover {
    background: rgba(98, 98, 98, 0.25);
    color: #cfcfcf;

}

.bar.scrolled a {
    text-decoration: none;
    color: #cfcfcfd0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 650px;
    border-radius: 5px;
}
.bar {
    bottom: 12px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 99999;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    height: 46px;
    width: 150px;
    border-radius: 5px;
}

.bar a {
    text-decoration: none;
    color: #acacac;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 650px;
    border-radius: 5px;
}

.bar a:hover {
    background: rgba(29, 29, 29, 0.248);
    color: #e7e7e7;

}
.bar a.active {
    background: rgba(29, 29, 29, 0.248);
    color: #e7e7e7;
  }