@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  background: rgb(246, 246, 246);
  background: radial-gradient(
    circle,
    rgba(246, 246, 246, 1) 0%,
    rgba(214, 219, 220, 1) 49%,
    rgba(214, 219, 220, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

@font-face {
  font-family: "ProximaNovaFont";
  src: url("/fonts/ProximaNovaFont.otf") format("opentype");
}

body {
  font-family: "ProximaNovaFont", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

img {
  max-width: 42%;
  height: 60%;
  z-index: -10;
  position: fixed;
}

p {
  position: absolute;
  top: calc(50% - 90px);
  text-align: center;
  font-weight: 800;
  cursor: pointer;
  font-size: 28px;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.button-container {
  position: absolute;
  top: calc(50% + 50px);
  display: flex;
  gap: 10px;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.text-container {
  margin-top: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  color: #fafafad7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% + 19px);
}
.text-container a  {
  height: auto;
  width: auto;
  margin-top: 4px;
  cursor: pointer;
  display: flex;
  margin-left: 14px;
  align-items: center;
  justify-content: center;
}
.text-container a span {
  text-align: center;
  font-size: 12.3px;
  font-style: normal;
  font-weight: 200;
  color: #fafafa;
  position: absolute;
}

button {
  width: 80px;
  height: 40px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5f0;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}

button {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

button:hover {
  background: rgba(0, 0, 0, 0.7);
}


button:hover {
  background: rgba(0, 0, 0, 0.353);
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#dynamicText::before {
  content: attr(data-language);
  position: absolute;
  cursor: default;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  padding-left: 12px;
  width: auto;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

#dynamicText:hover::before {
  opacity: 1;
  animation: fade-in 0.1s ease-in-out;
}


#van-a {
  margin-right: 5px;
}

#the-a {
  margin-left: 5px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main {
  margin-left: auto;
  margin-right: auto;
}
.navigate-button {
    bottom: 12px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 99999;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
  height: 44px;
    width: 34px;
    right: 12px;
    border-radius: 5px;
}
.navigate-button:hover {
  bottom: 12px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 99999;
  position: fixed;
  background: rgba(40, 40, 40, 0.5);
height: 44px;
  width: 34px;
  right: 12px;
  border-radius: 5px;
}

.navigate-button.clicked:hover {
  background: rgba(43, 43, 43, 0.801);
  color: #e6e6e6;

  animation: float 1.5s ease-in-out;
}
.navigate-button i {
  color: #BCBCBC;
  font-size: 17.5px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.navigate-button.clicked {
  background: rgba(29, 29, 29, 0.801);
  color: #e6e6e6;
transition: all 0.0s ease;
  animation: float 1.5s ease-in-out;
}

