@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    background: rgb(246, 246, 246);
    background: radial-gradient(circle,
            rgba(246, 246, 246, 1) 0%,
            rgba(214, 219, 220, 1) 49%,
            rgba(214, 219, 220, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;

}

@font-face {
    font-family: "ProximaNovaFont";
    src: url("/fonts/ProximaNovaFont.otf") format("opentype");
}

body {
    font-family: "ProximaNovaFont", sans-serif;

}

::-webkit-scrollbar {
    display: none;
}

img {
    max-width: 42%;
    height: 60%;
    z-index: -10;
    position: fixed;
}

p {
    position: absolute;
    top: calc(50% - 90px);
    text-align: center;
    font-weight: 800;
    cursor: pointer;
    font-size: 28px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.button-container {
    position: absolute;
    top: calc(50% + 50px);
    display: flex;
    gap: 10px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.text-container {
    margin-top: 8px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    color: #fafafad7;
    position: absolute;
    top: calc(50% + 19px);
}

button {
    width: 80px;
    height: 40px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.5);
    font-size: 14.6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f5f5f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: rgba(0, 0, 0, 0.338);
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#dynamicText::before {
    content: attr(data-language);
    position: absolute;
    cursor: default;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    padding-left: 12px;
    width: auto;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

#dynamicText:hover::before {
    opacity: 1;
    animation: fade-in 0.1s ease-in-out;
}

/* Diğer stiller */


#van-a {
    margin-right: 5px;
}

#the-a {
    margin-left: 5px;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main {
    margin-left: auto;
    margin-right: auto;
}