<!-- HTML -->
<li class="about-text" id="aboutText" onclick="toggleTranslation()">
  <span class="abouttextSpan" id="abouttextSpan" >
    Hello, I'm Eren. I am 14 years old, I am in the first year of high school, and
  I aim to progress in the field of web and become a software engineer. I use
  Node.js as a programming language and Express as a framework. I also use React
  occasionally. You can check out my social media accounts for more information.
  </span>
</li>
