<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  // Sayfa yüklendiğinde çalışacak kod
  document.addEventListener("DOMContentLoaded", function() {
    // "Open" butonuna tıklandığında
    document.getElementById("openButton").addEventListener("click", function() {
      // Dropdown menüyü göster veya gizle
      document.getElementById("dropdownMenu").style.display = (document.getElementById("dropdownMenu").style.display === "none") ? "block" : "none";
    });
  });
</script>


<% if (repositories !==null) { %>
<ul>
 
  <% repositories.forEach(repo=> { %>
  <li class="project">
    <div class="project-top">
      <div class="project-top-in">
        <div class="top-in">
          <h1><%= repo.name %></h1>
          <div class="top-in-bottom" style="display: none">
            <svg
              class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27 18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
            <%= repo.stargazersCount %>
          </div>
        </div>
      </div>
      <div class="top-right">
        <div class="flex-container">
          <div class="button-container-get">
            <a target="_blank" class="button-get demo" id="openButton">Open</a>
          
    
          </div>
          
        
        </div>
      </div>
    </div>

    <div class="description"><%= repo.description %></div>
    <div class="project-bottom">
      <div class="bottom-top">
        <a class="launge"
          ><span><strong>Language</strong></span
          >: <%= repo.dil %></a
        >

     
      </div>
    </div>
  </li>
  <% }); %>
</ul>
<div id="repo-details-container"></div>
<% } else { %>
<% } %>
